@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: rgb(34, 34, 34);
}

/* shared styles */
.orange-color {
    color: rgb(230, 83, 60);
}

.flex {
    display: flex;
    align-items: center;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 60px;
}

/* navbar */
.nav-container {
    justify-content: space-around;
}

.nav-container h1 {
    font-size: 36px;
    font-weight: 800;
}

.nav-options {
    gap: 35px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3.9rem;
    padding: 0.9rem;
}

.nav-options a {
    text-decoration: none;
    color: white;
}


/* banner */
.left-card {
    width: 520px;
}

.banner {
    justify-content: space-evenly;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);

}

.banner-title {
    font-size: 78px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.dancing-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* join club */
.btn {
    padding: 16px 50px;
    border: no;
    font-size: 18px;
    font-weight: 600;
}

.Download-btn {
    border-radius: 46px;
    background-color: rgb(34, 34, 34);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
}

/* two card */
.cd {
    color: white;
    font-size: 24px;
    font-weight: 900;
    position: relative;
    text-align: center;

    /* height: 96px; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
}

.cd span:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #EFEDE8A6;
}

.card1 {
    top: -150px;
    right: 100px;
    width: 180px;
}

.card2 {
    left: 250px;
    top: -550px;
    width: 190px;
}

#ball {
    width: 40px;
    height: 20px;
    background-color: #E6533C;
    border-radius: 50%;
}

/* second section */
.second-section {
    text-align: center;
    margin: 10px 45px;
}

.second-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.second-cards {
    justify-content: space-evenly;
}

.second-cards img {
    border-radius: 50%;
}

.image-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* Run sec */
.run {
    border-radius: 18px;
    background: rgb(54, 51, 51);
    margin: 25px 250px;
    padding: 50px;

}

.run-container {
    justify-content: space-between;
    gap: 30px;
}

.run-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.run-container img {
    border-radius: 15px;
}